/* header and navbar */
#logo {
    background-color: black;
    margin: 20px;
    height: 120px;
    border-radius: 5px;
    min-width: 420px;
    padding: 5px;
    text-align: center;
}

#logo img {
    height: 100px;
    width: 420px;
}

#navbar {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 25px;
    float: right;
    margin-top: -100px;
    margin-right: 25px;
}


#navbar a {
    text-decoration: none;
    margin-right: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    text-align: center;

}

#navbar a:hover {
    border-bottom: 1px solid gray;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.test {
    background-color: aqua;
    border: 1px solid black;
}

main {
    background-color: black;
    color: aqua;
    margin: 202px;
    border-radius: 4px;
}

footer {
    background-color: black;
    color: aqua;
    margin: 20px;
    border-radius: 5px;
    min-width: 420px;
    padding: 5px;
    text-align: center;
}