header {
    background-color: black;
    color: aqua;
    margin: 20px;
    height: 120px;
    border-radius: 5px;
}

#logo {
    font-size: 100%;
    color: white;
    width: 420px;
    height: 95%;
    text-align: left;
    /* background: url(../img/Octane-Wear-2e.png) no-repeat;
    background-size: 420px 100px; */
    min-width: 420px;
    margin: 20px 0 20px 0;
    padding: 5px;
}

main {
    background-color: black;
    color: aqua;
    margin: 20px;
    border-radius: 4px;
}

footer {
    background-color: black;
    color: aqua;
    margin: 20px;
    
}