/* header and navbar */
#logo {
    background-color: black;
    margin: 20px;
    height: 120px;
    border-radius: 5px;
    min-width: 420px;
    padding: 5px;
    text-align: center;
}

#logo img {
    height: 100px;
    width: 420px;
}

#navbar {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 25px;
    float: right;
    margin-top: -100px;
    margin-right: 25px;
}

#navbar a {
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 25px;
    text-align: center;
    background-color: white;
    color: #197BBD;
    text-transform: uppercase;
    display: inline-block;
    transition: 1.5s;
}

#navbar a:hover {
    text-align: center;
    background-color: #197BBD;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

/* adds brackets to actively selected page */

#active::before {
    content: ".:";
 
}

#active::after {
    content: ":.";
}

/* main content of index.html */

main {
    background-color: white;
    margin: 0px;
    border-radius: 4px;
}

/* Carousel in CSS only used tutorial: https://www.youtube.com/watch?v=pGHOaY4dhAA referenced in readme */

#carousel {
    overflow: hidden;

}

#carousel figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: slider 20s infinite;
}

#carousel figure img {
    width: 25%;
    float: left;
}

@keyframes slider{
    0% {left: 0;}
    25% {left: -100%;}
    50% {left: -200%;}
    75% {left: -300%;}
   
 }

/* Footer Styling */

footer {
    background-color: black;
    color: aqua;
    margin: 20px;
    border-radius: 5px;
    min-width: 420px;
    padding: 5px;
    text-align: center;
}

#social {
    color: white;
    text-align: right;
    margin: 5px;
}

#social a {
    color: white;
    margin: 5px;
    font-size: 150%;
    transition: 1.5s;

}

#social a:hover {
    color: #197BBD;
    transition: 0.5s;
}

#copyright {
    text-align: right;
    margin: 0;
    padding: 0;

}

#copyright p {
    font-size: 65%;
    color: white;
}

/* Team members page */

#team {
    height: 800px;
    margin: 20px;
    text-align: center;
    background-color: transparent;
}

#team-left {
    padding-top: 30px;
    width: 33%;
    float: left;
    text-align: right;
}

#team-left img {
    width: 10%;
    float: right;
    transform: scaleX(-1);
}

#team-left h2{
    font-size: medium;
}

#team-right {
    padding-top: 30px;
    width: 33%;
    float: right;
    text-align: left;
}

#team-right img {
    width: 75px;
    float: left;
}

#team-right h2{
    font-size: medium;
}

#team-center {
    width: 750px;
    height: 500px;
    margin: 0 auto;
    background: url(../img/dallaraf3.jpg) no-repeat center center;
    border-radius: 50%;
    background-color: aliceblue;
    animation: f3-zoom 5.5s forwards;
}

@keyframes f3-zoom {
    0% { transform: scale(0.8);}
    100%{ transform: scale(1.0);}
}